.pyc
*pyc
pyc
gmon.out
*.user
re.pro.user
.user
*user*
.user.*
*.user.*
.idea
.idea/
.idea/*
venv
venv/
venv/*
autosave
*autosave
*.autosave
build
build/
build/*
debug
debug/
debug/*
release
release/
release/*
.vscode
.vscode/
.vscode/*
GTAGS
GRTAGS
GPATH
cmake-build*
cmake-build*/
cmake-build*/*
